body{
    background-color:blanchedalmond;
    font-family:verdana, sans-serif;
}

header{background-color:darkblue;
}

h1{color: white;
text-align: center;}

p{
    text-align-last: center;
}

section {
    background-color:chocolate;
    font-family:verdana;
    color:white;
    font-size:20px;
}

footer{
    font-family:verdana;
    color:white;
}